@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(184, 16, 175);
  color: rgb(255,255,255)
}

input{
  color: rgb(0,0,0);
  padding: 25px;
  margin: 10px 0;
}

.calculator__result--info{
  padding: 10px;
  border-radius: 5px;
  width: max-content;
}

.underweight{
  background-color: rgb(9, 49, 228);
}

.healthy{
  background-color: rgb(43, 189, 6);
}

.overweight{
  background-color: rgb(240, 140, 10);
}

.obese{
  background-color: rgb(221, 13, 13);
}
